*{
    margin: 0;
    padding: 0;
}


.cabecalho{
    background-color: #035156;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 26px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
 display: inline-block;
 margin: 0 16px;
 font-size: 24px;
}

.loja-imagem{
    width: 25%;
}

.loja-titulo{
 background-image: linear-gradient(#035156, #4EBFE9);
 color: aliceblue;
 padding: 1000px 0;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 24px 0;
 }

 .loja-div-conteudo{
    width: 35%;
 }